.Input{
    display: flex;
    height: 4em;
    width: 4em;
    flex: 1;
    background-color: black;
    outline: 1px solid #888888;
    color: #ffffff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 1em;
    align-items: center;
}